name: Continuous Deployment Live

on:
  push:
    branches:
      - master
      - main
  workflow_dispatch:
    branches:
      - master
      - main
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Create app archive
        run: |
          mkdir ../api
          cp -TR . ../api
          zip -r api.zip ../api/
      - name: SSH Deploy App
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          port: 22
          key: ${{ secrets.SERVER_SSH_KEY }}
          source: "api.zip"
          target: ${{ secrets.REMOTE_TARGET_HOME }}
      - name: SSH Copy API to web folder & create Uploads folder & Install dependencies
        uses: fifsky/ssh-action@master
        with:
          command: |
            cd ${{ secrets.REMOTE_TARGET_HOME }}
            unzip api.zip
            mkdir -p ${{ secrets.REMOTE_TARGET_WWW }}api/
            cd ${{ secrets.REMOTE_TARGET_WWW }}api/
            php7.4 artisan down
            rm -r ./database/migrations/*
            cp -r ${{ secrets.REMOTE_TARGET_HOM }api/* ./
            cp ${{ secrets.REMOTE_TARGET_HOME }}.env.api ./.env
            php7.4 /usr/local/bin/composer install
            php7.4 artisan migrate
            php7.4 artisan cache:clear
            php7.4 artisan queue:restart
            php7.4 artisan up
            cd ${{ secrets.REMOTE_TARGET_HOME }}
            rm -rf api api.zip
          host: ${{ secrets.REMOTE_HOST }}
          user: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
